body, html {
  height: 100%;
  margin: 0;
}

.background-img {
  background-image: url('/images/doodle-background.jpg');
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-color-effect {
  background-color: #18BC9CCC;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
}

.background-color-effect-dark {
  background-color: #2C3E50CC;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  /* display: flex;
  align-content: center;
  flex-direction: column; */
}

.login-board {
  width: 26%;
  height: 65%;
  background-color: #2C3E50;
  margin: auto;
  border-radius: 3%;
}

.leaderboard {
  width: 49%;
  height: 58%;
  background-color: #2C3E50;
  border-radius: 1%;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.container-nav {
  display: flex;
  flex-direction: row;
  width: 140vmin;
  justify-content: center;
}

.container-nav-brand {
  display: flex;
  justify-content: flex-start;
  width: 70vmin;
}

.container-nav-rank-logout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70vmin;
}

.room-list-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 100%;
}

.room-list-container-scroll {
  width: 140vmin;
  height: 100vh;
  overflow-y: scroll;

}

.container-room-list-user-info {
  width: 140vmin;
}

.home-create-join-button-container {
  display: flex;
  height: 100px;
  align-items: flex-end;
  width: 140vmin;
}

.room-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2; */
}

.room-item {
  width: 43vmin;
  display: flex;
  flex-direction: row;
  background-color: #2C3E50D9;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 12vmin;
}

.room-item-name {
  color: white;
  font-size: 30px; 
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.room-item-creator {
  color: #C6C2C2;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.room-item-created-at {
  color: white;
  font-size: 15px;
}

.room-item-join-button {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.user-info {
  height: 200px;
  background-color: #2C3E50;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.user-rank-info-container {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 10px;
  height: 40%;
}

.user-rank-info {
  padding: 0;
  padding-left: 5px;
}

.user-rank-info-username {
  color: white; 
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.user-rank-info-badge-container {
  height: 50px;
  display: flex;
  justify-content: center;
}

.user-rank-info-bagde {
  height: 90%;
}

.user-rank-info-rank {
  color: #F229EA;
  font-size: 15px;
  font-weight: bold;
}

.user-game-statistic-win-loss {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-item {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  height: 5vmin;
  width: 5vmin;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.play-game-container {
  display: flex;
  justify-items: center;
  width: 140vmin;
  flex-direction: column;
  box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.75);
}

.play-game-username {
  color: #18BC9C;
  font-size: 200%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
}

.play-game-userrank {
  color: #ffc107;
  font-size: 130%;
  font-weight: bold;
}

.opponent-time-progress-container {
  height: 16vh;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-color: #edf2f9;
  padding-bottom: 1vmin;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
}

.board-chat-container {
  display: flex;
  align-items: flex-end;
  height: 84vh;
  width: 140vmin;
  box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.75);
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board {
  width: 110vmin;
  height: 100%;
}

.play-user-info {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.play-opponent-info {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: flex-end;
}

.match-ratio {
  width: 20%;
  display: flex;
  justify-content: center;
}

.room-name-chat-container {
  height: 100%;
  margin: 0;
}

.room-name-chat-container-card {
  height: 100%;
}
.chat-layout-container {
  width: 100%;
  height: 100%;
  background-color: #2C3E50;;
  border-radius: 10px;
  padding: 3%;
}

.chat-layout {
  background-color: #C4C4C4;
  height: 80%;
  width: 100%;
}

.chat-input {

}

.label-X {
  color: red;
  font-size: 20px;
}

.label-O {
  color: blue;
  font-size: 20px;
}

