body, html {
  height: 100%;
  margin: 0;
}

.background-img {
  background-image: url('/images/doodle-background.jpg');
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-color-effect {
  background-color: #18BC9CCC;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
}

.background-color-effect-dark {
  background-color: #2C3E50CC;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  /* display: flex;
  align-content: center;
  flex-direction: column; */
}

.login-board {
  width: 26%;
  height: 65%;
  background-color: #2C3E50;
  margin: auto;
  border-radius: 3%;
}

.leaderboard {
  width: 49%;
  height: 58%;
  background-color: #2C3E50;
  border-radius: 1%;
  margin: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.container-nav {
  display: flex;
  flex-direction: row;
  width: 140vmin;
  height: 5vmin;
  justify-content: center;
}

.container-nav-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70vmin;
}

.container-nav-rank-logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.room-list-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 100%;
}

.room-list-container-scroll {
  width: 140vmin;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.container-room-list-user-info {
  width: 140vmin;
}

.home-create-join-button-container {
  display: flex;
  height: 100px;
  align-items: flex-end;
  width: 140vmin;
}

.room-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2; */
}

.room-item {
  width: 43vmin;
  display: flex;
  flex-direction: row;
  background-color: #2C3E50D9;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 16vmin;
}

.room-item-name {
  color: white;
  font-size: 150%;
  padding: 0;
  margin: 0;
  padding-top: 10px;
}

.room-item-creator {
  color: #C6C2C2;
  font-size: 120%;
  padding: 0;
  margin: 0;
}

.room-item-created-at {
  color: white;
  font-size: 100%;
}

.room-item-join-button {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.room-name-input-dialog {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

.room-name-input-dialog-content {
  width: 30%;
  height: 15%;
  background-color: #2C3E50;
  border-radius: 5px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info {
  height: 200px;
  background-color: #2C3E50;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.user-rank-info-container {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 10px;
  height: 40%;
}

.user-rank-info {
  padding: 0;
  padding-left: 5px;
}

.user-rank-info-username {
  color: white;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.user-rank-info-badge-container {
  height: 50px;
  display: flex;
  justify-content: center;
}

.user-rank-info-bagde {
  height: 90%;
}

.user-rank-info-rank {
  color: #F229EA;
  font-size: 15px;
  font-weight: bold;
}

.user-game-statistic-win-loss {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rank-item {
  display: flex;
  flex-direction: row;
}

.cell {
  display: flex;
  height: 4vmin;
  width: 4vmin;
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.board-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-game-container {
  display: flex;
  justify-items: center;
  width: 140vmin;
  flex-direction: column;
  box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.75);
}

.play-game-username {
  color: #18BC9C;
  font-size: 200%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border: 0;
}

.play-game-userrank {
  color: #ffc107;
  font-size: 130%;
  font-weight: bold;
}

.opponent-time-progress-container {
  height: 16vh;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-color: #edf2f9;
  padding-bottom: 1vmin;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
}

.board-chat-container {
  display: flex;
  align-content: flex-end;
  height: 70vh;
  width: 140vmin;
  box-shadow: 5px 6px 6px 0px rgba(0,0,0,0.75);
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board {
  width: 120vmin;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-room-name {
  font-size: 150%;
  color: #18BC9C;
  font-weight: bold;
  margin-left: 10px;
}

.play-user-info {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.number-countdown{
  display: block;
  font-size: 4em;
  color: #45ADA8;
  font-weight: bold;
  padding: 0;
  margin: 2px;
}

.play-opponent-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40%;
}

.match-ratio {
  width: 20%;
  display: flex;
  justify-content: center;
}

.room-name-chat-container {
  height: 100%;
  margin: 0;
}

.room-name-chat-container-card {
  height: 100%;
}
.chat-layout-container {
  width: 100%;
  height: 100%;
  background-color: #2C3E50;
  border-radius: 10px;
  padding: 3%;
}

.chat-layout {
  background-color: #C4C4C4;
  height: 80%;
  width: 100%;
}

.chat-input {

}

.label-X {
  color: #fc2803;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}

.label-O {
  color: #0398fc;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #2C3E50;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #2C3E50;
  border-color: #2C3E50 transparent #2C3E50 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


